<h2 class="title">Category</h2>

<article class="category">
    <div class="category-date">17 APR 2022</div>
    <div class="category-content">
        <div class="category-img">
            <img src="img/news_1.jpg" alt="">
        </div>
        <h2 class="category-title">
            PEAKNDT AND TWI
            COLLABORATE FOR CRYSTAL
            SOFTWARE
        </h2>
    </div>
</article>

<article class="category">
    <div class="category-date">17 APR 2022</div>
    <div class="category-content">
        <div class="category-img">
            <img src="img/news_1.jpg" alt="">
        </div>
        <h2 class="category-title">
            PEAKNDT AND TWI
            COLLABORATE FOR CRYSTAL
            SOFTWARE
        </h2>
    </div>
</article>

<article class="category">
    <div class="category-date">17 APR 2022</div>
    <div class="category-content">
        <div class="category-img">
            <img src="img/news_1.jpg" alt="">
        </div>
        <h2 class="category-title">
            PEAKNDT AND TWI
            COLLABORATE FOR CRYSTAL
            SOFTWARE
        </h2>
    </div>
</article>