<div class="featured">
    <div class="row">
        <div class="col-md-3">
            <a class="featured-news" href="">
                <h2 class="featured-news__title">FEATURED NEWS</h2>
                <div class="featured-news__content">
                    <div class="featured-news__img">
                        <img src="img/news_1.jpg" alt="">
                    </div>
                    <p class="featured-news__text">
                        BV AiP for Solid Sail, which aims to slash Cruise Ship Emissions
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="featured-news" href="">
                <h2 class="featured-news__title">FEATURED COMPANY</h2>
                <div class="featured-news__content">
                    <div class="featured-news__img">
                        <img src="img/news_2.jpg" alt="">
                    </div>
                    <p class="featured-news__text">
                        BV AiP for Solid Sail, which aims to slash Cruise Ship Emissions
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="featured-news" href="">
                <h2 class="featured-news__title">FEATURED JOB</h2>
                <div class="featured-news__content">
                    <div class="featured-news__img">
                        <img src="img/news_3.jpg" alt="">
                    </div>
                    <p class="featured-news__text">
                        BV AiP for Solid Sail, which aims to slash Cruise Ship Emissions
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="featured-news" href="">
                <h2 class="featured-news__title">FEATURED PRODUCT</h2>
                <div class="featured-news__content">
                    <div class="featured-news__img">
                        <img src="img/news_1.jpg" alt="">
                    </div>
                    <p class="featured-news__text">
                        BV AiP for Solid Sail, which aims to slash Cruise Ship Emissions
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>