<div class="right-sidebar">
    <h2 class="right-sidebar__title">Relaited</h2>
    <div class="right-sidebar__item">
        <div class="right-sidebar__img" style="background: url('/img/hyundai_logo.svg') no-repeat center center;"></div>
        <h2 class="right-sidebar__name">Hyundai</h2>
    </div>

    <div class="right-sidebar__item">
        <div class="right-sidebar__img" style="background: url('/img/samsung_logo.svg') no-repeat center center;"></div>
        <h2 class="right-sidebar__name">Samsung</h2>
    </div>

    <div class="right-sidebar__item">
        <div class="right-sidebar__img"
             style="background: url('/img/mitsubishi_logo.svg') no-repeat center center;"></div>
        <h2 class="right-sidebar__name">Mitsubishi</h2>
    </div>

    <h2 class="right-sidebar__title">News</h2>

    <p class="right-sidebar__news">
        <a href="" class="right-sidebar__link">
            The standard Lorem Ipsum
            passage, used since the 1500s
        </a>
    </p>
    <p class="right-sidebar__news">
        <a class="right-sidebar__link" href="">
            1914 translation by H. Rackham
        </a>
    </p>
    <p class="right-sidebar__news">
        <a class="right-sidebar__link" href="">
            What is Lorem Ipsum?
        </a>
    </p>
    <p class="right-sidebar__news">
        <a class="right-sidebar__link" href="">
            Why do we use it?
        </a>
    </p>
    <p class="right-sidebar__news">
        <a class="right-sidebar__link" href="">
            Where does it come from?
        </a>
    </p>
    <p class="right-sidebar__news">
        <a class="right-sidebar__link" href="">
            Where can I get some?
        </a>
    </p>
</div>