<div class="right-sidebar">
    <h2 class="right-sidebar__title">Recent updates</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam cumque deserunt facere odio quod
        repellat sequi. Cumque doloremque eius, impedit ipsam iste nam, officiis, quae quibusdam quod ratione veritatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam cumque deserunt facere odio quod
        repellat sequi. Cumque doloremque eius, impedit ipsam iste nam, officiis, quae quibusdam quod ratione veritatis.
    </p>
</div>