<article class="news">
    <div class="news-date">17 APR 2022</div>
    <div class="news-content">
        <div class="news-img">
            <img src="img/news_1.jpg" alt="">
        </div>
        <h2 class="news-title">
            PEAKNDT AND TWI
            COLLABORATE FOR CRYSTAL
            SOFTWARE
        </h2>
    </div>
</article>

<article class="news">
    <div class="news-date">17 APR 2022</div>
    <div class="news-content">
        <div class="news-img">
            <img src="img/news_1.jpg" alt="">
        </div>
        <h2 class="news-title">
            PEAKNDT AND TWI
            COLLABORATE FOR CRYSTAL
            SOFTWARE
        </h2>
    </div>
</article>

<article class="news">
    <div class="news-date">17 APR 2022</div>
    <div class="news-content">
        <div class="news-img">
            <img src="img/news_1.jpg" alt="">
        </div>
        <h2 class="news-title">
            PEAKNDT AND TWI
            COLLABORATE FOR CRYSTAL
            SOFTWARE
        </h2>
    </div>
</article>