.navigation.pagination {
  text-align: center;
  margin-top: 20px;

  .screen-reader-text {

  }

  .nav-links {
    .prev.page-numbers {
      text-decoration: none;
      border: none;
      color: #0068b2;
    }

    .next.page-numbers {
      text-decoration: none;
      border: none;
      color: #0068b2;
    }

    .page-numbers {
      text-decoration: none;
      padding: 10px;
      border-right: 2px solid #0068b2;
      color: #0068b2;
    }

    .page-numbers.current {
      font-weight: 600;
      color: #d4d4d4;
    }
  }
}