<div class="categories-wrapper">
    <div class="row">
        <div class="col-md-4">
            <div class="categories">
                <h2 class="categories-title">
                    <a href="">
                        Category title
                    </a>
                </h2>
                <div class="categories-content">
                    <div class="categories__img">
                        <a href="">
                            <img src="img/news_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="categories__text">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="categories-title-list">
                    <ul>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="categories">
                <h2 class="categories-title">
                    <a href="">
                        Category title
                    </a>
                </h2>
                <div class="categories-content">
                    <div class="categories__img">
                        <a href="">
                            <img src="img/news_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="categories__text">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="categories-title-list">
                    <ul>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="categories">
                <h2 class="categories-title">
                    <a href="">
                        Category title
                    </a>
                </h2>
                <div class="categories-content">
                    <div class="categories__img">
                        <a href="">
                            <img src="img/news_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="categories__text">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="categories-title-list">
                    <ul>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                        <li><a href="">Category title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>