<section class="top-news">
    <h2 class="top-news__title">Top news</h2>
    <section class="top-news-upper">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <a href="/single-post.html" class="upper-news">
                    <article class="upper-news__article">
                        <div class="upper-news__img"
                             style="background: url('../img/news_1.jpg') center center no-repeat;background-size: cover;">
                        </div>
                        <div class="upper-news__text">
                            <h2 class="upper-news__title">Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque eum maiores
                                molestiae.
                            </p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="col-lg-6 col-md-12">
                <a href="" class="upper-news">
                    <article class="upper-news__article">
                        <div class="upper-news__img"
                             style="background: url('../img/news_2.jpg') center center no-repeat;background-size: cover;"></div>
                        <div class="upper-news__text">
                            <h2 class="upper-news__title">Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque eum maiores
                                molestiae.
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </section>
    <section class="top-news-lower">
        <div class="row">
            <div class="col-lg-4">
                <a href="" class="lower-news">
                    <article class="lower-news__article">
                        <div class="lower-news__img"
                             style="background: url('../img/news_1.jpg') center center no-repeat;background-size: cover;"></div>
                        <div class="lower-news__text">
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="lower-news">
                    <article class="lower-news__article">
                        <div class="lower-news__img"
                             style="background: url('../img/news_2.jpg') center center no-repeat;background-size: cover;"></div>
                        <div class="lower-news__text">
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="lower-news">
                    <article class="lower-news__article">
                        <div class="lower-news__img"
                             style="background: url('../img/news_3.jpg') center center no-repeat;background-size: cover;"></div>
                        <div class="lower-news__text">
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </section>
</section>